{{!--
Це код container файлу для сторінки js,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/js"
--}}

<div>
    {{#with js}}
    <main>
        <section>
            {{> title data='JS' big=true}}

            <hr>
            <h1>{{name}}</h1>

            <hr>
            <br>

            <p><mark>Name:{{name}}</mark>JavaScript</p>
            <p><mark>Description:{{description}}</mark>JavaScript is a popular high-level, dynamic, and interpreted programming language.</p>
            <p><mark>year:{{year}}</mark>1995</p>
            <p><mark>founder:{{founder}}</mark>Brendan Eich</p>
            <p><mark>types:{{types}}</mark>Number, String, Boolean, Null, Undefined, Symbol, Object</p>
            <hr>
            <br>
            <p><mark>variables:{{variables}}</mark>var, let, const</p>
            <p><mark>functions:{{functions}}</mark>function</p>
            <p><mark>conditionals:{{conditionals}}</mark>if, else, switch</p>
            <p><mark>loops:{{loops}}</mark>for, while, do-while</p>
            <p><mark>classes:{{classes}}</mark>class</p>
            <p><mark>features:{{features}}</mark>First-class functions, Closures, Dynamic typing, Prototype-based inheritance, Asynchronous programming with Promises and async/await, Modules with import/export statements</p>
            <p><mark>libraries:{{libraries}}</mark>jQuery, React, Angular, Vue, Node.js, Express.js, Lodash, Moment.js</p>
            <p><mark>tools:{{tools}}</mark>Babel, Webpack, ESLint, Jest, Mocha, Chai, Selenium, Cypress</p>
            <p><mark>community:{{community}}</mark></p>
            <p><mark>name:{{name}}</mark>Stack Overflow, JavaScript Weekly, The Changelog, CSS-Tricks</p>
            <p><mark>type:{{type}}</mark>forum, newsletter, podcast, blog</p>

            <br>
        </section>
    </main>
</div>